Repository DiceDB/dice, pull requests merged in 2024-10, with the labels that each got.

#1039 #964 Support for OBJECT ENCODING
  integration_tests/commands/async/object_test.go
  internal/eval/eval.go
  internal/eval/eval_test.go
Labels: new -- command

#1077 Command Migration: ('ZADD', 'ZRANGE') (Issue #1034)
  internal/eval/commands.go
  internal/eval/eval.go
  internal/eval/eval_test.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
  internal/worker/cmd_meta.go
Labels: migration -- command

#979 docs: Refactored HGETALL
  docs/src/content/docs/commands/HGETALL.md
Labels: documentation

#1078 Fix error message when unimplemented method is invoked
  internal/server/httpServer.go
Labels: bug

#1083 #838 Update/fix the documentation for BITCOUNT command
  docs/src/content/docs/commands/BITCOUNT.md
Labels: documentation

#1111 #1106 TTL Docs Inconsistency
  docs/src/content/docs/commands/TTL.md
Labels: bug

#1085 #803: Updating JSON.MGET command documentation
  docs/src/content/docs/commands/JSON.MGET.md
Labels: documentation

#1088 #1028: feat:Command Migration('JSON.CLEAR', 'JSON.STRLRN', 'JSON.OBJLEN
  integration_tests/commands/async/json_test.go
  integration_tests/commands/http/json_test.go
  integration_tests/commands/resp/json_test.go
  integration_tests/commands/websocket/json_test.go
  internal/errors/migrated_errors.go
  internal/eval/commands.go
  internal/eval/eval.go
  internal/eval/eval_test.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
  internal/worker/cmd_meta.go
Labels: migration -- command

#1099 #821 Audit and make documentation for command GETEX consistent
  docs/src/content/docs/commands/GETEX.md
Labels: documentation

#1120 #1113 Add cURL Examples to HTTP Docs
  docs/src/content/docs/protocols/http.mdx
Labels: documentation

#1136 #1113 docs: add CLI example to websocket
  docs/src/content/docs/protocols/websockets.mdx
Labels: documentation

#1042 #827 Docs: Audited docs for `JSON.TYPE` command
  docs/src/content/docs/commands/JSON.TYPE.md
Labels: documentation

#1147 Added template for command docs
  docs/command_docs_template.md
  docs/sample_command_docs.md
Labels: documentation, enhancement

#1137 #1126 Adding support for command ZRANK
  docs/src/content/docs/commands/ZRANK.md
  integration_tests/commands/async/zset_test.go
  integration_tests/commands/http/zrank_test.go
  integration_tests/commands/resp/zrank_test.go
  integration_tests/commands/websocket/zrank_test.go
  internal/eval/commands.go
  internal/eval/constants.go
  internal/eval/eval_test.go
  internal/eval/sortedset/sorted_set.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
  internal/worker/cmd_meta.go
Labels: documentation, new -- command

#1152 Fix: removed extra prints in unit test
  internal/eval/eval_test.go
Labels: bug

#1141 #1016 Migrated `INCR` commands
  docs/src/content/docs/commands/DECR.md
  docs/src/content/docs/commands/DECRBY.md
  docs/src/content/docs/commands/INCR.md
  docs/src/content/docs/commands/INCRBY.md
  docs/src/content/docs/commands/INCRBYFLOAT.md
  integration_tests/commands/http/decr_test.go
  integration_tests/commands/http/incr_by_float_test.go
  integration_tests/commands/resp/decr_test.go
  integration_tests/commands/resp/incr_by_float_test.go
  integration_tests/commands/resp/incr_test.go
  integration_tests/commands/websocket/decr_test.go
  integration_tests/commands/websocket/incr_by_float_test.go
  integration_tests/commands/websocket/incr_test.go
  internal/eval/commands.go
  internal/eval/eval.go
  internal/eval/eval_test.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
  internal/worker/cmd_meta.go
Labels: migration -- command

#1081 Command Migration: ('HINCRBY', 'HINCRBYFLOAT', 'HRANDFIELD')
  docs/src/content/docs/commands/HINCRBY.md
  docs/src/content/docs/commands/HINCRBYFLOAT.md
  docs/src/content/docs/commands/HRANDFIELD.md
  integration_tests/commands/async/hincrby_test.go
  integration_tests/commands/http/hincrby_test.go
  integration_tests/commands/http/hincrbyfloat_test.go
  integration_tests/commands/http/hrandfield_test.go
  integration_tests/commands/resp/hincrby_test.go
  integration_tests/commands/resp/hincrbyfloat_test.go
  integration_tests/commands/resp/hrandfield_test.go
  integration_tests/commands/websocket/hincrby_test.go
  integration_tests/commands/websocket/hincrbyfloat_test.go
  integration_tests/commands/websocket/hrandfield_test.go
  internal/eval/commands.go
  internal/eval/eval.go
  internal/eval/eval_test.go
  internal/eval/hmap.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
  internal/server/utils/json.go
  internal/worker/cmd_meta.go
Labels: migration -- command

#1095 #1018 Migration: Append_GetRange
  docs/src/content/docs/commands/APPEND.md
  docs/src/content/docs/commands/GETRANGE.MD
  integration_tests/commands/async/append_test.go
  integration_tests/commands/http/append_test.go
  integration_tests/commands/http/getrange_test.go
  integration_tests/commands/resp/append_test.go
  integration_tests/commands/resp/getrange_test.go
  integration_tests/commands/websocket/append_test.go
  integration_tests/commands/websocket/getrange_test.go
  internal/eval/commands.go
  internal/eval/eval.go
  internal/eval/eval_test.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
  internal/worker/cmd_meta.go
Labels: migration -- command

#1117 #1031: Bloom Filter - Migrated `bf.add`, `bf.reserve`, `bf.exists` & `bf.info` to store_eval
  docs/src/content/docs/commands/BF.ADD.md
  docs/src/content/docs/commands/BF.EXISTS.md
  docs/src/content/docs/commands/BF.INFO.md
  docs/src/content/docs/commands/BF.RESERVE.md
  docs/src/content/docs/commands/BFEXISTS.md
  docs/src/content/docs/commands/BFINIT.md
  docs/src/content/docs/commands/COMMAND LIST.md
  integration_tests/commands/async/command_getkeys_test.go
  integration_tests/commands/async/object_test.go
  integration_tests/commands/http/bloom_test.go
  integration_tests/commands/http/command_getkeys_test.go
  integration_tests/commands/resp/bloom_test.go
  integration_tests/commands/resp/command_getkeys_test.go
  integration_tests/commands/websocket/bloom_test.go
  internal/errors/migrated_errors.go
  internal/eval/bloom.go
  internal/eval/bloom_test.go
  internal/eval/commands.go
  internal/eval/constants.go
  internal/eval/eval.go
  internal/eval/eval_test.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
  internal/worker/cmd_meta.go
Labels: migration -- command

#1140 #816 Docs : Audited Docs for `Copy` command
  docs/src/content/docs/commands/COPY.md
Labels: documentation

#1162 Migrating ('HLEN', 'HSTRLEN', 'HSCAN') #1024
  docs/src/content/docs/commands/HLEN.md
  docs/src/content/docs/commands/HSCAN.md
  docs/src/content/docs/commands/HSTRLEN.md
  integration_tests/commands/async/hlen_test.go
  integration_tests/commands/async/hscan_test.go
  integration_tests/commands/async/hstrlen_test.go
  integration_tests/commands/http/hlen_test.go
  integration_tests/commands/http/hscan_test.go
  integration_tests/commands/http/hstrlen_test.go
  integration_tests/commands/resp/hlen_test.go
  integration_tests/commands/resp/hscan_test.go
  integration_tests/commands/resp/hstrlen_test.go
  integration_tests/commands/websocket/hlen_test.go
  integration_tests/commands/websocket/hscan_test.go
  integration_tests/commands/websocket/hstrlen_test.go
  internal/eval/commands.go
  internal/eval/eval.go
  internal/eval/eval_test.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
  internal/worker/cmd_meta.go
Labels: migration -- command

#1062 Command Migration: JSON. ARRAPPEND, ARRPOP, ARRLEN
  docs/src/content/docs/commands/JSON.ARRAPPEND.md
  docs/src/content/docs/commands/JSON.ARRLEN.md
  docs/src/content/docs/commands/JSON.ARRPOP.md
  integration_tests/commands/http/json_arrpop_test.go
  integration_tests/commands/resp/json_test.go
  integration_tests/commands/websocket/json_test.go
  internal/eval/commands.go
  internal/eval/eval.go
  internal/eval/eval_test.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
  internal/worker/cmd_meta.go
Labels: migration -- command

#1119 Command migration for JSON.ARRTRIM, JSON.ARRINSERT. JSON.OBJKEYS
  docs/src/content/docs/commands/JSON.ARRINSERT.md
  docs/src/content/docs/commands/JSON.ARRTRIM.md
  docs/src/content/docs/commands/JSON.OBJKEYS.md
  integration_tests/commands/async/json_test.go
  integration_tests/commands/http/json_test.go
  integration_tests/commands/resp/json_test.go
  integration_tests/commands/websocket/json_test.go
  internal/eval/commands.go
  internal/eval/eval.go
  internal/eval/eval_test.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
Labels: migration -- command

#1087 #1022 Command Migration: ('HEXISTS', 'HKEYS', 'HVALS')
  docs/hexists_command_docs.md
  docs/hkeys_command_docs.md
  docs/hvals_command_docs.md
  docs/package-lock.json
  integration_tests/commands/async/bitfield_test.go
  integration_tests/commands/async/check_type_test.go
  integration_tests/commands/async/del_test.go
  integration_tests/commands/async/dump_test.go
  integration_tests/commands/async/hexists_test.go
  integration_tests/commands/async/hkeys_test.go
  integration_tests/commands/async/hsetnx_test.go
  integration_tests/commands/async/hvals_test.go
  integration_tests/commands/async/json_arrpop_test.go
  integration_tests/commands/async/mget_test.go
  integration_tests/commands/async/ttl_pttl_test.go
  integration_tests/commands/http/hexists_test.go
  integration_tests/commands/http/hkeys_test.go
  integration_tests/commands/http/hvals_test.go
  integration_tests/commands/resp/hexists_test.go
  integration_tests/commands/resp/hkeys_test.go
  integration_tests/commands/resp/hvals_test.go
  integration_tests/commands/resp/setup.go
  integration_tests/commands/websocket/helper.go
  integration_tests/commands/websocket/hexists_test.go
  integration_tests/commands/websocket/hkeys_test.go
  integration_tests/commands/websocket/hvals_test.go
  internal/clientio/resp_test.go
  internal/eval/commands.go
  internal/eval/eval.go
  internal/eval/eval_test.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
  internal/server/server.go
  internal/worker/cmd_meta.go
Labels: migration -- command
