Repository DiceDB/dice, pull requests merged in 2024-11, with the labels that each got.

#1149 #1013 Migrating: ('EXPIRE', 'EXPIREAT', 'EXPIRETIME', 'TTL', 'PTTL')
  docs/src/content/docs/commands/EXPIRE.md
  docs/src/content/docs/commands/EXPIREAT.md
  docs/src/content/docs/commands/EXPIRETIME.md
  docs/src/content/docs/commands/PTTL.md
  docs/src/content/docs/commands/TTL.md
  integration_tests/commands/async/expire_test.go
  integration_tests/commands/async/expireat_test.go
  integration_tests/commands/async/expiretime_test.go
  integration_tests/commands/resp/expire_test.go
  integration_tests/commands/resp/ttl_pttl_test.go
  integration_tests/commands/websocket/expire_test.go
  integration_tests/commands/websocket/ttl_pttl_test.go
  internal/eval/commands.go
  internal/eval/eval.go
  internal/eval/eval_test.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
  internal/store/expire.go
  internal/worker/cmd_meta.go
Labels: migration -- command

#1219 #1021 #785 #819 Command migration for HSET, HMSET, HGET, HMGET, HSETNX, HDEL
  docs/src/content/docs/commands/HDEL.md
  docs/src/content/docs/commands/HGET.md
  docs/src/content/docs/commands/HMGET.md
  docs/src/content/docs/commands/HMSET.md
  docs/src/content/docs/commands/HSET.md
  docs/src/content/docs/commands/HSETNX.md
  integration_tests/commands/async/hgetall_test.go
  integration_tests/commands/resp/hdel_test.go
  integration_tests/commands/resp/hget_test.go
  integration_tests/commands/resp/hmget_test.go
  integration_tests/commands/resp/hmset_test.go
  integration_tests/commands/resp/hset_test.go
  integration_tests/commands/resp/hsetnx_test.go
  internal/eval/commands.go
  internal/eval/eval.go
  internal/eval/eval_test.go
  internal/eval/hmap.go
  internal/eval/hmap_test.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
  internal/worker/cmd_meta.go
Labels: migration -- command

#1040 #659: Add support for command `LINSERT` and `LRANGE`
  docs/src/content/docs/commands/LINSERT.md
  docs/src/content/docs/commands/LRANGE.md
  integration_tests/commands/resp/deque_test.go
  internal/eval/commands.go
  internal/eval/deque.go
  internal/eval/deque_test.go
  internal/eval/eval_test.go
  internal/eval/store_eval.go
Labels: new -- command

#1068 #1020 Migrate SADD, SREM, SCARD, SMEMBERS command to store_eval
  integration_tests/commands/async/set_data_cmd_test.go
  integration_tests/commands/resp/set_data_cmd_test.go
  internal/eval/commands.go
  internal/eval/deque_test.go
  internal/eval/eval.go
  internal/eval/eval_test.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
  internal/server/utils/redisCmdAdapter.go
  internal/worker/cmd_meta.go
Labels: migration -- command

#1089 Migrate Commands: ('SETBIT', 'GETBIT', 'BITCOUNT', 'BITPOS', 'BITFIELD', 'BITFIELD_RO')
  docs/src/content/docs/commands/BITFIELD.md
  docs/src/content/docs/commands/BITFIELD_RO.md
  docs/src/content/docs/commands/BITOP.md
  docs/src/content/docs/commands/BITPOS.md
  docs/src/content/docs/commands/SETBIT.md
  integration_tests/commands/async/bit_operation_test.go
  integration_tests/commands/async/bit_test.go
  integration_tests/commands/async/bitfield_test.go
  integration_tests/commands/http/bit_test.go
  integration_tests/commands/resp/bit_test.go
  integration_tests/commands/websocket/bit_test.go
  internal/eval/bitpos.go
  internal/eval/commands.go
  internal/eval/eval.go
  internal/eval/eval_test.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
  internal/server/utils/bitfield.go
  internal/worker/cmd_meta.go
Labels: migration -- command

#1273 Minor structural updates in docs for a standard UI
  docs/src/content/docs/commands/BF.INFO.md
  docs/src/content/docs/commands/BITFIELD.md
  docs/src/content/docs/commands/BITOP.md
  docs/src/content/docs/commands/BITPOS.md
  docs/src/content/docs/commands/COMMAND COUNT.md
  docs/src/content/docs/commands/COMMAND GETKEYS.md
  docs/src/content/docs/commands/COMMAND HELP.md
  docs/src/content/docs/commands/COMMAND INFO.md
  docs/src/content/docs/commands/COMMAND LIST.md
  docs/src/content/docs/commands/COMMAND.md
  docs/src/content/docs/commands/COPY.md
  docs/src/content/docs/commands/DBSIZE.md
  docs/src/content/docs/commands/DECRBY.md
  docs/src/content/docs/commands/DEL.md
  docs/src/content/docs/commands/ECHO.md
  docs/src/content/docs/commands/EXPIREAT.md
  docs/src/content/docs/commands/FLUSHDB.md
  docs/src/content/docs/commands/GET.md
  docs/src/content/docs/commands/GETDEL.md
  docs/src/content/docs/commands/GETEX.md
  docs/src/content/docs/commands/GETSET.md
  docs/src/content/docs/commands/HDEL.md
  docs/src/content/docs/commands/HGET.md
  docs/src/content/docs/commands/HGETALL.md
  docs/src/content/docs/commands/HINCRBY.md
  docs/src/content/docs/commands/HINCRBYFLOAT.md
  docs/src/content/docs/commands/HMGET.md
  docs/src/content/docs/commands/HMSET.md
  docs/src/content/docs/commands/HRANDFIELD.md
  docs/src/content/docs/commands/HSET.md
  docs/src/content/docs/commands/HSETNX.md
  docs/src/content/docs/commands/INCRBY.md
  docs/src/content/docs/commands/INCRBYFLOAT.md
  docs/src/content/docs/commands/INFO.md
  docs/src/content/docs/commands/JSON.ARRAPPEND.md
  docs/src/content/docs/commands/JSON.ARRPOP.md
  docs/src/content/docs/commands/JSON.DEBUG.md
  docs/src/content/docs/commands/JSON.FORGET.md
  docs/src/content/docs/commands/JSON.MGET.md
  docs/src/content/docs/commands/JSON.MSET.md
  docs/src/content/docs/commands/JSON.SET.md
  docs/src/content/docs/commands/JSON.STRLEN.md
  docs/src/content/docs/commands/JSON.TOGGLE.md
  docs/src/content/docs/commands/JSON.TYPE.md
  docs/src/content/docs/commands/KEYS.md
  docs/src/content/docs/commands/LINSERT.md
  docs/src/content/docs/commands/LLEN.md
  docs/src/content/docs/commands/LPUSH.md
  docs/src/content/docs/commands/LRANGE.md
  docs/src/content/docs/commands/LRU.md
  docs/src/content/docs/commands/MGET.md
  docs/src/content/docs/commands/OBJECT.md
  docs/src/content/docs/commands/PERSIST.md
  docs/src/content/docs/commands/PFCOUNT.md
  docs/src/content/docs/commands/PFMERGE.md
  docs/src/content/docs/commands/QWATCH.md
  docs/src/content/docs/commands/SDIFF.md
  docs/src/content/docs/commands/SINTER.md
  docs/src/content/docs/commands/SLEEP.md
  docs/src/content/docs/commands/SREM.md
Labels: documentation, enhancement

#1181 #1019 Migrated LPUSH, RPUSH, LPOP, RPOP, LLEN
  docs/src/content/docs/commands/LLEN.md
  docs/src/content/docs/commands/LPOP.md
  docs/src/content/docs/commands/LPUSH.md
  docs/src/content/docs/commands/RPOP.md
  docs/src/content/docs/commands/RPUSH.md
  integration_tests/commands/async/deque_test.go
  integration_tests/commands/http/deque_test.go
  integration_tests/commands/resp/deque_test.go
  integration_tests/commands/websocket/deque_test.go
  internal/eval/commands.go
  internal/eval/eval.go
  internal/eval/eval_test.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
  internal/worker/cmd_meta.go
Labels: migration -- command

#1185 #1033 Migrating GEOADD and GEODIST command
  docs/src/content/docs/commands/GEOADD.md
  docs/src/content/docs/commands/GEODIST.md
  integration_tests/commands/http/geo_test.go
  integration_tests/commands/resp/geo_test.go
  integration_tests/commands/websocket/geo_test.go
  internal/eval/commands.go
  internal/eval/eval.go
  internal/eval/eval_test.go
  internal/eval/store_eval.go
  internal/server/cmd_meta.go
  internal/worker/cmd_meta.go
Labels: migration -- command

#1037 #1036 Preserve TTL after APPEND command
  integration_tests/commands/http/append_test.go
  integration_tests/commands/resp/append_test.go
  integration_tests/commands/websocket/append_test.go
  internal/eval/store_eval.go
  internal/eval/type_string.go
Labels: bug

#1325 Add hyperlink for commands
  docs/src/content/docs/commands/BITFIELD_RO.md
  docs/src/content/docs/commands/COMMAND HELP.md
  docs/src/content/docs/commands/DECR.md
  docs/src/content/docs/commands/EXPIRE.md
  docs/src/content/docs/commands/EXPIREAT.md
  docs/src/content/docs/commands/EXPIRETIME.md
  docs/src/content/docs/commands/HEXISTS.md
  docs/src/content/docs/commands/HINCRBY.md
  docs/src/content/docs/commands/HINCRBYFLOAT.md
  docs/src/content/docs/commands/HKEYS.md
  docs/src/content/docs/commands/HRANDFIELD.md
  docs/src/content/docs/commands/HVALS.md
  docs/src/content/docs/commands/INCR.md
  docs/src/content/docs/commands/LINSERT.md
  docs/src/content/docs/commands/LLEN.md
  docs/src/content/docs/commands/LPOP.md
  docs/src/content/docs/commands/LPUSH.md
  docs/src/content/docs/commands/LRANGE.md
  docs/src/content/docs/commands/PTTL.md
  docs/src/content/docs/commands/RPOP.md
  docs/src/content/docs/commands/RPUSH.md
  docs/src/content/docs/commands/SMEMBERS.md
  docs/src/content/docs/commands/TTL.md
  docs/src/content/docs/commands/ZRANK.md
Labels: documentation, enhancement
